name: Run API Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v3
      
      # Set up Node.js environment
      - name: Setup Node.js 
        uses: actions/setup-node@v3
        with:
          node-version: 22

      # Install dependencies
      - name: Install dependencies
        working-directory: ./mainapp/ufirst
        run: npm install
      

      # Run unit tests 
      - name: Run tests 
        working-directory: ./mainapp/ufirst
        run: npm test
        env:
          GADGET_API_KEY: ${{ secrets.GADGET_API_KEY }}
          ADMIN_EMAIL: ${{ secrets.ADMIN_EMAIL }}
